/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body{
  padding: 0;
  margin: 0;
  font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
}

header h1{
  text-align: center;
  margin-top: 0;
  position: absolute;
  font-size: 220%;
  top: 25px;
  left: 25px;
  color: rgb(111, 38, 38);
  text-shadow: 5px 5px 6px rgb(180, 180, 180);
}

header h2{
  font-size: 1.5rem;
  margin-top: 1em;
  position: absolute;
  font-size: 160%;
  top: 250px;
  left: 25px;
  color: rgb(13, 55, 128);
  text-shadow: 0px 0px 6px rgb(180, 180, 180);
}

.white-bkg{
  width: inherit;
  height: inherit;
  background-color: rgba(255, 255, 255, 0.25);
}

header{
  position: relative;
  margin: -16px 0 0 0;
  padding: 0;
  margin-top: -16px;
  height: 75vh;
  width: 100vw;
  background: url('../images/with-client.jpg');
  background-position: 0px -100px;
  background-size: cover;
}

.content{
  display: -ms-flex;
	display: -webkit-flex;
  display: flex;
}

.content-left,
.content-right{
  width: 50%;
  margin: 0;
  padding: 1em;
}

.content-left{
  padding-right: 0.5em;
}
.content-right{
  padding-left: 0.5em;
}
