html, body{
  padding: 0;
  margin: 0;
}

header h1{
  text-align: center;
  margin-top: 0;
  position: absolute;
  font-size: 220%
  top: 25px;
  left: 550px;
  color: rgb(111, 38, 38);
  text-shadow: 5px 5px 6px rgb(180, 180, 180);
}

header h2{
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1em;
  position: absolute;
  top: 250px;
  left: 100px;
  color: rgb(13, 55, 128);
  text-shadow: 0px 0px 6px rgb(180, 180, 180);
}

.white-bkg{
  width: inherit;
  height: inherit;
  background-color: rgba(255, 255, 255, 0.25);
}

header{
  position: fixed;
  margin: -16px 0 0 0;
  padding: 0;
  height: 75vh;
  width: 100vw;
  background: url('../images/with-client.jpg');
  background-position: 0px -100px;
  background-size: cover;
}
